#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 20%;
    background-image: url(../images/aboutBackground.png);
}


.aboutSection {
    margin: 25px 0;
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: 2%;
    transition: all 0.2s ease;
    color: gray;
    border: 1px solid var(--black);
}

.aboutSection span {
    font-weight: 600;
}

#aboutAuthorText {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#aboutAuthorText img {
    width: 18%;
    height: fit-content;
    max-width: 200px;
    border-radius: var(--border-radius);
    margin-right: 50px;
}

.aboutSection p,
.aboutSection li {
    font-size: 20px;
    margin: 20px 0;
    padding-left: 20px;
}

.aboutSection a {
    border-bottom: 1px solid var(--yellow);
}

.aboutSection ul {
    margin-left: 5%;
}


.aboutSection h1 {
    background-color: gray;
    color: white;
    padding: 5px 25px;
    border-radius: var(--border-radius);
    background-image: url('../images/adsasd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 600;
    font-size: 30px;
}

#aboutBuilding h2 {
    margin: auto;
    margin-bottom: 10px;
}

#aboutBuilding img {
    width: 100px;
    height: 100px;
    margin: auto;
}

#aboutResources li {
    display: flex;
    text-align: center;
    align-items: center;
}

#aboutResources img {
    height: 50px;
    width: 50px;
}